<div class="row">
  <form>
    <div class="col-md-5">
      <div class=form-group>
        <label for="labType">Lab Type</label> {{textarea id="labType" value=labType class="form-control"}}
      </div>
    </div>

    <div class="col-md-5">
      <div class=form-group>
        <label for="labNotes">Lab Notes</label> {{textarea id="labNotes" value=labNotes class="form-control"}}
      </div>
    </div>
    <div class="col-md-2 btn-labinfo">
      <button class="btn btn-success" {{action 'labInfo'}}>Add Information</button>
    </div>
  </form>
</div>
