{{#if addNewNote}}
  <h1>New Note</h1>
  <div>
    <form>
      <div class="form-group">
        <label for="notes">Notes</label>
        {{textarea value=notes id="notes"}}
      </div>
    </form>
  </div>
{{else}}
  <button {{action 'noteFormShow'}}>
{{/if}}

{{outlet}}
