
.checks img {
  height: 20px;
  width: 30px;
}
.addpatient{
  text-align: right;
  width: 30px;
}
.floater{
  float: right;
}
.gender {
  width: 100px;
}

table, th, td {
  border: 1px solid black;
}
td{
  vertical-align: text-bottom;
  margin: 60px;
}
th, td {
  padding: 50px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
h1{
  color: #000;
}
.myTable{
  padding: 20px;
}
h2,h3,h4 {
  color: white;
}
.form-control {
  input: 30%;
}
.btn-labinfo{
  margin-top: 25px;
}

.btn-labinfo button {
  height: 56px;
}
.bm-menu{
  width: 100px;
}
.container{
  background-color: blue;
}
