.checks img {
  height: 20px;
  width: 30px;
}
.addpatient{
  text-align: right;
  width: 30px;
}
.floater{
  float: right;
}
.gender {
  width: 100px;
}
#conta {
  background-color: #2F4F4F;
}
.h1 {
  text-align: bold;
  background-color: blue;
}
table, th, td {
  border: 1px solid black;
}
td{
  vertical-align: text-bottom;
  margin: 60px;
}
th, td {
  padding: 50px;
  text-align: left;
  padding: 15px;
  border-bottom: 1px solid #ddd;
}
h1{
  color: #000;
}
.myTable{
  padding: 20px;
}
.form-control {
  input: 30%;
}
.btn-labinfo{
  margin-top: 25px;
}

.btn-labinfo button {
  height: 56px;
}
.bm-menu{
  width: 100px;
}
#cont {
  background-color: azure;
  background-image: url(../img/microscope.jpg);
}
.form-control {
  input: 30%;
}
.container {
  padding-right: 40px;
  padding-left: 40px;
}

.medButton {
  -webkit-transform-duration:0.4s;
  transition-duration: 0.4s;
  color:white;
  background-color: green;
  border: none;
  padding: 15px 32px;
  display: inline-block;
  font-size:16px;
}
.medButton:hover {
  background-color: white;
  color: green;
  border: 1px solid green;
}

h1{
  font-family: 'Roboto', cursive;
  font-weight: 400;
text-transform: uppercase;
color:darkgreen;
}
h2{
  font-family: 'Garanoid';
  font-weight: 800;
padding: 10px 5px;
  color: blue;
}
a {
  color: #2a8236;
  text-decoration:none;
  font-size: 18px;
  padding-right: 15px;
}
a:hover {
  text-decoration: none;
  color: #2a8236;
}