
<div class="col-md-6">
<input placeholder="Name" #newName>

</div>

<div class="col-md-6">
  <input placeholder="Lab type" #labType>

</div>

<div class="col-md-8">
  <input placeholder="Lab notes" #labNotes>

</div>

{{outlet}}
