
<div class="col-md-6">
<label for="firstName"></label><input placeholder="Name" #newName>

</div>

<div class="col-md-6">
  <label for="lastName"></label><input placeholder="Name" #newName>

</div>

<div class="col-md-6">
 <input placeholder="Lab type" #labType>

</div>

<div class="col-md-8">
  <input placeholder="Lab notes" #labNotes>

</div>

{{outlet}}
