{{#each model as |patientdisplay|}}
  {{patient-tile patientdisplay=patientdisplay}}
{{/each}}

<footer>
  <h2>Some of the hospitals that we serve include:</h2>
  <div class="row">
    <div class="col-md-4">
      <h3>Nairobi Hospital</h3>
      <h4>General Enquiries</h4>
      <h4>+ 254 700 342 400</h4>
    </div>
    <div class="col-md-4">
      <h3>Aga Khan Hospital</h3>
      <h4>General Enquiries</h4>
      <h4>+254 700 250 600</h4>
    </div>
    <div class="col-md-4">
      <h3>Mater Hospital</h3>
      <h4>General Enquiries</h4>
      <h4>+254 700 100 010</h4>
    </div>
  </div>
</footer>
