{{#each model.patientdisplays as |patientdisplay|}}
{{patient-tile patientdisplay=patientdisplay}}
{{/each}}
{{new-patient showForm="showForm"}}

{{#link-to 'patientdisplay'}} <button class="btn btn-info">Prescribe Medicine</button>{{/link-to}}
